/*
 * -------------------------------------------------
 * JUNO LSF
 * -------------------------------------------------
 * Pipeline parameters specific to running nextflow/nf-core pipelines on new JUNO
 * -------------------------------------------------
 */

executor {
  name = "lsf"
  queueSize = 1000
  //
  // Our (JUNO) LSF is configured to use memory per core
  // so this should be set to _false_. But need to adjust
  // the memory settings below to reflect this.
  // And also need to set perTaskReserve = true
  // for this to work
  //
  perJobMemLimit = false
  perTaskReserve = true
}

//
// N.B. If you are going to change any LSF parameter
// (cpus, memory, time) below, you must change *ALL*
// of them.
//
// Also, do not forget the unites for memory and time and
// memory and time must be floats (e.g. 12.GB, 8.h, etc.)
//

process {

  clusterOptions = "-R cmorsc1"

  withName: 'AMPLICONSUITE' {
    cpus = { 24 }
    memory = { 24.GB }
    time = { 48.h }
  }

  withName: 'SAMTOOLS_SORT_BAM' {
    cpus   = { 12 }
    memory = { 72.GB }
    time   = { 8.h }
  }

  withName: 'SAMTOOLS_INDEX_BAM' {
    cpus   = { 12 }
    memory = { 12.GB }
    time   = { 8.h }
  }

}
